a:link,
a:visited,
a:active {

}

body {
    background-color: #181818;
}

#content {
    background-color: #181818;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 64px;
    top: 64px;
}

#header {
    background-color: #61006D;
    position: fixed;
    width: 100%;
    height: 60px;
    left: 70px;
    margin: -8px;
    border: solid 2px #BC77D6;
}

#divlogo{
    text-decoration: none;
    height: 60px;
    width: 200px;
}

#logo {
    position: relative;
    margin: 0px;
    left: 20px;
    top: 8px;
    height: 45px;
}

#linklogo {
    text-decoration: none;
    font-family: 'Calibri Light', 'Gill Sans', 'Open Sans';
    font-size: 30px;
    display: block;
    position: relative;
    height: 50px;
    width: 100px;
}


#linklogo:active, #linklogo:visited, #linklogo:link {
    color: #BC77D6;
}

#textologo {
    position: relative;
    margin: 0xp;
    top: -75px;
    left: 80px;
    width: 105px;
}

#navbar {
    background-color: #61006D;
    position: fixed;
    height: 100%;
    width: 60px;
    margin: -8px;
    border: solid 2px #BC77D6;
}