body {
    background-color: #202020;
    margin: 0px;
    font-family: 'Calibri Light';
    color: #eaeaea;
}

a {
    color: #eaeaea;
    text-decoration: none;
}

.navbar {
    width: 100vw;
    height: 10vh;

    background-color: #121212;

    display: flex;
    justify-content: right;
    align-items: center;

    box-sizing: border-box;
    border-bottom: solid 0.5vh #BC77D6;
}

.navbar a {
    background-color: #282828;

    font-size: 3.6vmin;

    position: relative;
    right: 0.5vw;
    top: 0.1vh;    

    text-align: center;
    vertical-align: middle;
    min-width: 13vw;
    max-height: 6.5vh;

    box-sizing: border-box;
    border-radius: 15vw;
    margin: 0.5vw;
    padding-top: 0.2vh;
}

.navbar a:first-child {
    background-color: transparent;

    right: 60vw;

    min-width: 11vw;

    padding-top: 0vh;
}

.navbar span {
    position: relative;
    top: 0.3vh;
    margin-left: 1vh;
}

.navbar a:hover {
    background-color: #eaeaea25;
}

.navbar a:hover:first-child {
    background-color: transparent;
}

.logo img {
    vertical-align: middle;
    width: 7vh;
}