<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>EasyD20</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./Src/View/Assets/main.css">
</head>


<body>
    <div class="navbar">
        <a class="logo" href="{{url}}"><img src="./Src/View/Images/Logo.png"><span>EasyD20</span></a>
        <a href="{{url}}/login">Entre</a>
        <a href="{{url}}/signup">Cadastre-se</a>
    </div>
    <div class="">

    </div>
</body>

</html>